.vscode/settings.json
data/raw/b3_quotes/COTAHIST_A2025.TXT
data/raw/ibrx100/VIRADA - SET2025.xlsx
data/raw/ibrx100/maio_ago_2025.xlsx
data/raw/ibrx100/maio_ago2026.pdf
data/raw/ibrx100/jan_abr_2026.xlsx
data/raw/ibrx100/jan_abr_2025.xlsx
